# === DATOS DE BASE DE DATOS ===
postgres-data/
*.db
*.sqlite

# === JAVA / MAVEN ===
**/target/
**/.mvn/
**/mvnw
**/mvnw.cmd
**/HELP.md
*.jar
*.war

# === NODE / NESTJS ===
**/node_modules/
**/dist/
**/build/
**/coverage/
.env
.env.local

# === DOCKER ===
.dockerignore

# === IDE ===
.idea/
.vscode/
*.iml

# === SISTEMA ===
.DS_Store
Thumbs.db