# Database
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=reservas_db

# Servicio de eventos (URL base)
EVENTOS_SERVICE_URL=http://localhost:3000

# Puerto del microservicio
PORT=3001


JWT_SECRET=miClaveSecretaMuySeguraDeAlMenos32Caracteres
AUTH_SERVICE_URL=http://localhost:8080/api